.scrollBarRem::-webkit-scrollbar {
  display: none;
}

.scrollBarRem {
  overflow-y: scroll;
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
}

.chatBoxheight {
  height: calc(100% - 140px);
}
